/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes glowing {
    from {box-shadow: 0 0 50px rgba(0,255,255,0.2) inset;}
    to {box-shadow: 0 0 50px rgb(192, 246, 193) inset;}
}

@font-face {
    font-family: "Grotesk";
    src: url("../src/fonts/grotesk-master/fonts/Grotesk-03Regular.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url("../src/fonts/Orbitron-Light.ttf");
    font-style: normal;
}


body{
    overflow: hidden;
    font-family: sans-serif;
    background-color: black;
    animation-name: glowing;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: relative;
}

.marquee {
   font-family: sans-serif, 'Press Start 2P';
   text-transform: uppercase;
   font-size: 18px;
   font-weight: bold;
   background:  rgb(192, 246, 193);
   padding: .2em 0;
   color: rgb(255, 34, 34);
   box-shadow: 2px 2px 10px  rgb(192, 246, 193);
   overflow: hidden;
   position: relative;
   animation: text-line-glow 2s linear infinite;
}
@keyframes text-line-glow {
0% {text-shadow: 0px 0px 0px #29cac8;
   }
50% {text-shadow: 0px 0px 4px #29cac8;
   }
}
.marquee:before {
   content: '';
   position: absolute;
   display: block;
   background-image: 
    repeating-linear-gradient(0deg, #23277600, #23277600 1px, #040a2444 1px, #040a2444 3px),
    repeating-linear-gradient(90deg, #23277600, #23277600 2px, #040a2444 2px, #040a2444 3px);
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 1;
}
.marquee:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 3px;
    animation: line-glow 3.5s linear infinite;
   animation-timing-function: steps(50);
    }
@keyframes line-glow {
0% {
   right: -2%;
   background-color: #29cac8;
   box-shadow: 0 0 20px #ffd2fe00;
   }
50% {
   right: 102%;
   background-color: #29cac8;
   box-shadow: 0 0 30px #ffd2feff;
    }
}

header{
   padding: 10px 10px; 
}

h1{
    font-family: "Grotesk";
    font-weight: normal;
    font-size: 3vh;
    color: rgb(192, 246, 193);
    padding-left: 2vh;
    padding-bottom: 2vh;
   
}

h2{
    font-family: "Orbitron";
    font-weight: normal;
    font-size: 1vh;
    color: rgb(255, 34, 34);
    padding-bottom: 1vh;
    padding-top: 1vh;
    padding-left: 2vh;
    border: solid 2px rgb(192, 246, 193);
    border-radius: 30px 30px 0px 0px;
    width: 30vh;
    height: 3vh;
}

.wrapper{
    display: grid;
	grid-template-columns: 1fr 3;
	grid-template-rows: 1fr 2;
    place-items: center;
    gap: 15px 15px;
}

.wrapper p{
	display: block;
	grid-column: 3;
	grid-row: 1;
	position: absolute;
	top:10vh ;
	width: 600px;
	margin-left: 50%;
}

.text {
  color: rgb(192, 246, 193);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
  white-space: nowrap; 
  position: absolute;
  top: 2vh;
  padding-left: 200%;

}

.blinking-cursor {
  user-select: none;
  animation: blink 1s steps(2, start) infinite; 
}

@keyframes blink {
  to {
    visibility: hidden; 
} }





.vid{
    display: block;
    grid-column: 1;
    grid-row: 1;
    padding-left: 2vh;
}

.station{
    display: block;
    grid-column: 2;
    grid-row: 2;
    padding-bottom:2vh ;
}

.objet{
    display: block;
    grid-column: 2;
    grid-row: 1;
    width: 500px;
    height: auto;
}


video{
    width: 70%;
    /* supprime un effet non voulu de marge sur ces deux éléments spécifiques */
    display: block;
    border: solid 2px;
    color: rgb(192, 246, 193);
    border-radius: 0px 10px 0px 0px;
    
}

#projet{
	display: block;
	grid-column: 3;
	grid-row: 2;
	padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 8vh;
	overflow: hidden;
}

#energie{
	display: block;
	grid-column: 1;
	grid-row: 2;
	padding-top: 2vh;
    padding-bottom: 2vh;
	overflow: hidden;
}

#sismo{
	display: block;
	grid-column: 3;
	grid-row: 1;
	padding-top: 2vh;
    padding-right: 8vh;
    padding-bottom: 2vh;
	overflow: hidden;
}

#info{
	display: block;
	grid-column: 1;
	grid-row: 2;
	width: 50px;
    height:400px;
    border: solid 2px;
    color: rgb(192, 246, 193);
}

#cartesoleil{
	display: block;
	width: 400px;
    height:auto;
    position: absolute;
    bottom: 40vh;
    left: 93vh;

}

#position{
	display: block;
	grid-column: 1;
	grid-row: 1;
	width: 80px;
    height:auto;
}

iframe{
	display: block;
	width: 400px;
	height: 400px;
	overflow: hidden;
    border: solid 2px;
    color: rgb(192, 246, 193);
}

img{
	display: block;
	width: 345px;
	height: auto;
    border: solid 2px;
    color: rgb(192, 246, 193);
    border-radius: 0px 10px 0px 0px;
}
