/* Iphone 6 (375×667px) */

@media screen and (max-width: 375px) and (orientation: landscape) {

    #myVideo {
        display: block;
        position:relative;
        width: 100px;
        height: auto;
        margin-left: 40px;
        
    } 

}