/* on place généralement les variables dans le pseudo élémen :root */
:root{
    /* le nom de la varriable commence toujours pas deux tirets */
    --exemplevariable : rgb(255,0,0);
}

/* remise à zero des éléments */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Facade";
    src: url("../src/fonts/Facade/Facade-Est.woff") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body{
   color:white;
   font-family: Arial, Helvetica, sans-serif;
   background-color: black;
}

header{
    width: 90%;
    /* centrer l'élément horizontalement */
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 20px;
    border: 3px solid black;
    border-top:0 ;
    /*gérer l'arrondi pour chaque coin : haut-gauche, haut-droit, bas-droit, bas-gauche */
    border-radius: 0 0 25px 25px;
    background-color: black;
}

header h1{
    font-size: 30px;
    font-family:"Facade";
    text-align: center;
    text-transform: uppercase;
    margin-top: 3px;
}

main{
    /* gestion adaptive de la taille de l'élément :
    on donne une taille dépendante de la taille de l'écran ( en %, vw, ou en vh °
    et on donne une taille maximale (en pixel) de l'élément ne pourra pas dépasser
    même si l'écran est très large */
    width: 80%;
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;

}

main section{
width: 100%;
margin-left: auto;
margin-right: auto;
border: 3px solid black;
border-radius: 10px;
margin-bottom: 20px;

}

audio{
    width: 100%;
    /* supprime un effet non voulu de marge sur ces deux éléments spécifiques */
    display: block;
    border-radius: 4px;
    
}

iframe{
    display: block;
    grid-column: 1/2;
    width: 600px;
    height: 600px;
    overflow: hidden;
    margin-left: 2vw;
    margin-top: 2vw;
}


button{
    display: block;
    width: 150px;
    margin: 50px auto 0 auto;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 4px 0;
    background-color: white;
    border: 3px solid black;
    border-radius: 18px;
    box-shadow: 5px 5px 5px var(--maincolor);
    cursor: pointer;

}

button.on{
    font-style: italic;
    background-color: var(--maincolor);
}






