/* Iphone 6 (375×667px) */

@media screen and (max-width: 375px) and (orientation: portrait) {
  main{
    /* gestion adaptive de la taille de l'élément :
    on donne une taille dépendante de la taille de l'écran ( en %, vw, ou en vh °
    et on donne une taille maximale (en pixel) de l'élément ne pourra pas dépasser
    même si l'écran est très large */
    width: 80%;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;

}
  main section{
    width: 50%;
  }

  audio{
    width: 50%;
    /* supprime un effet non voulu de marge sur ces deux éléments spécifiques */
    display: block;
    border-radius: 4px;
    
}

iframe{
    display: block;
    grid-column: 1/2;
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin-left: 2vw;
    margin-top: 2vw;
}

}
