/* typos */
@font-face {
    font-family: "";
    src: url();
    font-style: normal;
    font-weight: normal;
}

/* variables */
:root{
    --variable : rgb(255,0,0);
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

#text{
    display: grid;
    grid-template-columns: 2(1fr);
    grid-row: 2(1fr);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 2vw;
    margin-top: 2vw;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    grid-column: 1;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    text-align: justify;
}

.picture1{
    display: block;
    grid-column: 2;
    margin-right: 2vw;
    margin-top: 2vw;
}


#intro2 img{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 2vw;

}

figcaption {
    
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: left;
  }
  
