@font-face {
    font-family: "";
    src: url();
    font-style: normal;
    font-weight: normal;
}

:root{
    --variable : rgb(255,0,0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:var(--exemplevariable);
    background-color: black;
}

main{
    display: grid;
    grid-template-columns:(2, 1fr);
    grid-template-rows:(4, 1fr);
}

#picture1{
    grid-column: 1/2;
    grid-row:1/4 ;
    width: auto;
    height: auto;
}

#p5{
    grid-column: 1;
    grid-row: 2;
    margin-left: 15vw;
}

#processing{
    grid-column: 1/2;
    grid-row: 2;
    margin-left: 50vw;
    margin-bottom: 15vw;

}


iframe{
	display: block;
	width: 600px;
	height: 600px;
	overflow: hidden;
    border: none;
}


    

